<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.clzmall.app.mapper.TemplateMsgMapper">


    <sql id="columns">
        id,
        uid,
        type,
        module,
        business_id,
        trigger_type,
        template_id,
        form_id,
        url,
        postJsonString,
        create_time,
        update_time
	</sql>

    <!--查询结果集 -->
    <resultMap id="beanMap" type="com.clzmall.common.model.TemplateMsg">
        <result property="id" column="id"/>
        <result property="uid" column="uid"/>
        <result property="type" column="type"/>
        <result property="module" column="module"/>
        <result property="businessId" column="business_id"/>
        <result property="triggerType" column="trigger_type"/>
        <result property="templateId" column="template_id"/>
        <result property="formId" column="form_id"/>
        <result property="url" column="url"/>
        <result property="postJsonString" column="postJsonString"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="vo.id" parameterType="com.clzmall.common.model.TemplateMsg">
        insert into template_msg
        ( <include refid="columns"/> )
        values
        (#{vo.id},#{vo.uid},#{vo.type},#{vo.module},#{vo.businessId},#{vo.triggerType},#{vo.templateId}, #{vo.formId},#{vo.url},#{vo.postJsonString},now(), now());

    </insert>

    <select id="selectByPrimaryKey" resultMap="beanMap">
        select
        <include refid="columns"/>
        from template_msg a
        where a.id = #{id}
    </select>

    <select id="selectByTriggerTypeAndCreateTime" resultMap="beanMap">
        select
        <include refid="columns"/>
        from template_msg a
        where type = 0
        and a.trigger_type = #{triggerType}
        and  DATE_FORMAT(#{createTime}, '%Y-%m-%d %H:%i') >= DATE_FORMAT(a.create_time, '%Y-%m-%d %H:%i')
    </select>


    <!-- 选择更新 -->
    <update id="updateSelective" parameterType="com.clzmall.common.model.TemplateMsg">
        UPDATE template_msg a
        <trim prefix="set" suffixOverrides=",">
            <if test="vo.uid != null"> a.uid = #{vo.uid},</if>
            <if test="vo.type != null"> a.type = #{vo.type},</if>
            <if test="vo.module != null"> a.module = #{vo.module},</if>
            <if test="vo.businessId != null"> a.business_id = #{vo.businessId},</if>
            <if test="vo.triggerType != null"> a.trigger_type = #{vo.triggerType},</if>
            <if test="vo.templateId != null"> a.template_id = #{vo.templateId},</if>
            <if test="vo.formId != null"> a.form_id = #{vo.formId},</if>
            <if test="vo.url != null"> a.url = #{vo.url},</if>
            <if test="vo.postJsonString != null"> a.postJsonString = #{vo.postJsonString},</if>
            <if test="vo.updateTime != null"> a.update_time = #{vo.updateTime},</if>
        </trim>
        WHERE a.id = #{vo.id}
    </update>

</mapper>